@import "tailwindcss";

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
